/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

# Gemfile.lock needs to be ignored becuase of the very old versions of Ruby / Gem / Bundler
Gemfile.lock
